.active {
  color: darkgray
}

.fill-remaining-space {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color:transparent;
  margin-bottom: 40px;
}

.menu-icon {
  font-size: 4em;
  margin-top: 20px;
}

.dark-theme-toggle {
  float: right;
  position: relative;
  margin-top: 40px;
}
