html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; background-color: white; color: black; }
.dark-theme {
  background-color: #2b2a2a;
  color: white;
}
.dark-theme-yellow {
  color: rgb(230, 205, 68);
}
.dark-theme-light-blue {
  color: rgb(122, 179, 206);
}
