<mat-toolbar>
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="/tips-and-tricks" routerLinkActive="active">
        <mat-icon>info</mat-icon>
        <span>Tips & tricks</span>
      </button>
      <button mat-menu-item routerLink="/about-me" routerLinkActive="active">
        <mat-icon>people_outline</mat-icon>
        <span>About me</span>
      </button>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">{{title}}</span>
</mat-toolbar>
